.children{
    margin: auto;
    margin-left: 130px;
    margin-right: 0;
}
.container{
    min-height: 100vh;
    min-width: 830px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
