@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  color: #FEFBF3;
  background-color: #0f1318;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

